.card {
  @include Gilroy(16px);
  text-align: center;

  position: relative;
  padding: 25px 35px 35px;

  user-select: none;
}

.grid-expand {
  grid-row: span 2;
}

.card__header-number {
  @include Gilroy(14px, 700);
}

.card_header-name-last-name {
  @include Gilroy(18px, 600);
  // line-height: 2.5;
  text-transform: capitalize;
  margin-top: 12px;
  margin-bottom: 8px;
}

.card__header-username {
  @include Gilroy(16px, 600);
  // line-height: 1;
}

.card__wrap {
  height: 100%;
  @include FlexBase(15px, column, space-between);
}

.card__body {
  width: 100%;
  height: 100%;
  @include FlexBase(0, column, start, start);
  text-align: start;
}

.card__patient {
  line-height: 1.4;
  margin: 4px 0;
}

.card__btn {
  margin-top: 10px;
}
