.form__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($brand-gray, 0.65);
    display: none;
    z-index: 999;
}

.form__inner {
    width: 80%;
    max-width: 800px;
    margin: 100px auto;

    position: relative;
}

.form {

    background-color: $brand-bright;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid $brand-gray;
    border-radius: 10px;
   
    .modal-visit__header {
        text-align: center;
        margin-bottom: 10px;
        font-size: 22px;
    }
    
    input, select, textarea {
        width: calc(100% - 20px); /* Ширина поля введення до кінця рядка, з урахуванням внутрішнього відступу */
        margin-right: 10px;
        box-sizing: border-box; /* Враховувати внутрішні відступи та рамку в обчисленні ширини */
        border: 1px solid #b8b9bb;
        border-radius: 5px;
    }
    
    .form-row {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        label, input {
            margin-right: 10px;
        }
    }

    .form-row__limited {
        display: inline-block;
        justify-content: center;
        width: auto;
    }

    [data-show="hidden"] {
            display: none;
        }    

    .modal-visit__button-wrapper {
        display: flex;
        justify-content: center;
    }

    .modal-visit__submit-button {
        padding: 10px;
        box-sizing: border-box;
        margin-left: 10px;
    }
}

