.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $brand-blue;

  box-sizing: border-box;
}

.logo__link {
  color: $brand-blue-dark;
  position: relative;
  font-weight: 700;

  &:visited {
    color: $brand-blue-dark;
  }
  &:active {
    color: $brand-blue-dark;
    top: 3px;
    right: 3px;
    box-shadow: 1px 1px 2px 0.6px $shadow-light;
  }
}

.logo__box {
  width: 80px;
  height: 80px;
  background-color: $brand-bright;
  border-radius: 50%;
  border: 5px solid $white;

  &:hover {
    box-shadow: 1px 2px 8px 0.6px $shadow-light;
  }
  &:active {
    box-shadow: 1px 1px 2px 0.6px $shadow-light;
  }
}

.header__buttons {
  display: flex;
  gap: 20px;
}
