.entrance {
  width: 400px;
  height: 230px;

  @include FlexBase();
  background-color: $white;

  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.entrance__form {
  @include FlexBase(15px, column);
}