.nav {
  width: 100%;
  height: 100px;
  @include FlexBase;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid $brand-blue;
  box-sizing: border-box;

  position: sticky;
  top: 0;

  background-color: $white;
  transition: all 0.5s;
  z-index: 1;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 30px;
  margin-right: 20px;
}

.nav__search-arr {
  width: 35%;
  padding: 0 5px 0 10px;
  margin-right: 15px;
  border: 1px solid $brand-gray;
  height: 40px;
  border-radius: 8px;
  font-size: 16px;
}

.select {
  position: relative;
  width: 12%;
  height: 40px;
  margin-right: 15px;
  user-select: none;
  z-index: 2;
}

.select.is-active .select__body {
  display: block;
  
}

.select__header {
  border: 1px solid $brand-gray;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.select__current {
  font-size: 20px;
  line-height: 24px;
  margin-left: 20px;
}

.select__icon {
  display: flex;
  align-items: center;
  font-size: 20px;
  justify-content: right;
  height: 40px;
  margin-right: 10px;
  width: 40px;
}

.select__body {
  border: 1px solid #cccccc;
  border-top: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: $brand-bright;
}

.select__item {
  cursor: pointer;
  font-size: 20px;
  line-height: 24px;
  padding: 8px;
  text-align: center;
}

.select__item:hover {
  background-color: #f2f2f2;
}

.nav__btn {
  display: none;
}

.btn__create {
  width: 180px;
  color: $brand-blue-dark;
}