.board {
  min-height: calc(100vh - 100px - 100px - 60px - 30px - 30px); //header - nav - footer - padding(top+bottom)

  position: relative;
}

.board__text {
  @include Gilroy(22px);

  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  user-select: none;
}

.board__cards {
  display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); // Screen: 1280px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); // Screen: 1440px;
  row-gap: 30px;
  column-gap: 15px;
}
