@mixin FlexBase($gap: 0, $column: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $column;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin Gilroy($size: 18px, $weight: 400, $color: $bg-body) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
}