body {
  font-family: "Gilroy", sans-serif;
  color: $black;
  background-color: $bg-body;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: $white;
}

.inner {
  padding: 30px 60px;
  // background-color: $brand-blue;
}

.hidden {
  display: none;
}

.fl-cen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  color: $brand-gray;
  background: $white;
  background-color: transparent;

  font-size: 16px;
  font-weight: 600;

  padding: 10px 25px;
  position: relative;

  border-radius: 8px;
  border: 1px solid rgb(184, 185, 187);

  user-select: none;
  cursor: pointer;

  &:hover {
    box-shadow: 1px 2px 8px 0.6px $shadow-light;
  }
  &:active {
    top: 2px;
    right: 2px;
    box-shadow: 1px 1px 2px 0.6px $shadow-light;
  }
}

.btn__close,
.btn__del,
.btn__edit {
  color: $brand-blue-dark;
  background-color: transparent;

  font-weight: 700;
  font-size: 14px;

  display: block;

  position: absolute;
  top: 10px;

  border-radius: 8px;
  border: none;

  cursor: pointer;

  &:hover {
    opacity: 1;
    color: $shadow;
    box-shadow: 1px 2px 3px $shadow;
  }
  &:active {
    top: 12px;
    opacity: 1;
    color: $shadow;
    box-shadow: 1px 1px 2px $shadow;
  }
}

.btn__close {
  color: $brand-gray-ligth;
  width: 32px;
  height: 32px;

  right: 9px;

  &:hover {
    color: $brand-gray;
  }

  &:active {
    color: $brand-gray;
    right: 10px;
  }
}

.btn__del {
  width: 40px;
  height: 40px;

  right: 11px;

  &:active {
    right: 12px;
  }

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;

    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);

    opacity: 0.8;
    transition: all 1.3s ease;
    filter: grayscale(100%) contrast(0.5) brightness(1.1);

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 512 512' %3E%3Cg%3E%3Cpath d='m62.205 150 26.569 320.735C90.678 493.865 110.38 512 133.598 512h244.805c23.218 0 42.92-18.135 44.824-41.265L449.795 150H62.205zm118.781 302c-7.852 0-14.458-6.108-14.956-14.063l-15-242c-.513-8.276 5.771-15.395 14.033-15.908 8.569-.601 15.381 5.757 15.908 14.033l15 242c.531 8.57-6.25 15.938-14.985 15.938zM271 437c0 8.291-6.709 15-15 15s-15-6.709-15-15V195c0-8.291 6.709-15 15-15s15 6.709 15 15v242zm89.97-241.062-15 242c-.493 7.874-7.056 14.436-15.908 14.033-8.262-.513-14.546-7.632-14.033-15.908l15-242c.513-8.276 7.764-14.297 15.908-14.033 8.262.513 14.546 7.632 14.033 15.908zM451 60h-90V45c0-24.814-20.186-45-45-45H196c-24.814 0-45 20.186-45 45v15H61c-16.569 0-30 13.431-30 30 0 16.567 13.431 30 30 30h390c16.569 0 30-13.433 30-30 0-16.569-13.431-30-30-30zm-120 0H181V45c0-8.276 6.724-15 15-15h120c8.276 0 15 6.724 15 15v15z' fill='%23ced7df'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  }

  &:hover::before {
    width: 24px;
    height: 24px;

    opacity: 1;
    transition: all 0.2s ease;
    filter: grayscale(0) contrast(0.3) brightness(0.7);
  }
}

.btn__edit {
  width: 40px;
  height: 40px;

  left: 11px;

  &:active {
    left: 10px;
  }

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0.8;
    transition: all 1.3s ease;
    filter: grayscale(100%) contrast(0.5) brightness(1.3);

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 497 497' style='enable-background:new 0 0 512 512' xml:space='preserve'%3E%3Cpath fill='%239b99c9' d='M488.695 286.873a7.516 7.516 0 0 0 6.272-6.467C496.307 269.96 497 259.311 497 248.5s-.693-21.459-2.033-31.906a7.515 7.515 0 0 0-6.272-6.467l-41.698-6.627a202.31 202.31 0 0 0-26.333-63.525l24.794-34.167a7.517 7.517 0 0 0-.139-9.008 249.97 249.97 0 0 0-45.12-45.12 7.519 7.519 0 0 0-9.008-.139l-34.167 24.794a202.29 202.29 0 0 0-63.525-26.333l-6.627-41.698a7.516 7.516 0 0 0-6.467-6.272C269.959.693 259.311 0 248.5 0s-21.459.693-31.906 2.033a7.515 7.515 0 0 0-6.467 6.272L203.5 50.002a202.31 202.31 0 0 0-63.525 26.333l-34.167-24.794a7.517 7.517 0 0 0-9.008.139A249.97 249.97 0 0 0 51.68 96.8a7.519 7.519 0 0 0-.139 9.008l24.794 34.167A202.29 202.29 0 0 0 50.002 203.5l-41.698 6.627a7.516 7.516 0 0 0-6.272 6.467C.693 227.041 0 237.689 0 248.5s.693 21.459 2.033 31.906a7.515 7.515 0 0 0 6.272 6.467l41.698 6.627c17.215 76.258 77.24 136.282 153.498 153.498l6.627 41.698a7.516 7.516 0 0 0 6.467 6.272c10.446 1.34 21.095 2.033 31.906 2.033s21.459-.693 31.906-2.033a7.515 7.515 0 0 0 6.467-6.272l6.627-41.698a202.31 202.31 0 0 0 63.525-26.333l34.167 24.794a7.517 7.517 0 0 0 9.008-.139 249.97 249.97 0 0 0 45.12-45.12 7.519 7.519 0 0 0 .139-9.008l-24.794-34.167a202.29 202.29 0 0 0 26.333-63.525zM248.5 377C177.531 377 120 319.469 120 248.5S177.531 120 248.5 120 377 177.531 377 248.5 319.469 377 248.5 377z' data-original='%239b99c9'/%3E%3Cpath fill='%236461ac' d='M248.5 75v45c70.969 0 128.5 57.531 128.5 128.5S319.469 377 248.5 377v45c95.821 0 173.5-77.679 173.5-173.5S344.321 75 248.5 75z' data-original='%236461ac'/%3E%3Cpath fill='%23807dbb' d='M248.5 75C152.679 75 75 152.679 75 248.5S152.679 422 248.5 422c79.253 0 143.5-77.679 143.5-173.5S327.753 75 248.5 75zm0 287C185.816 362 135 311.184 135 248.5S185.816 135 248.5 135c14.792 0 28.922 2.833 41.88 7.98l-23.718 87.358 87.358-23.718c5.147 12.958 7.98 27.088 7.98 41.88 0 62.684-50.816 113.5-113.5 113.5z' data-original='%23807dbb'/%3E%3Cpath fill='%232c2c2f' d='M55.396 454.461 4.383 492.617c4.979 4.979 12.58 5.709 18.349 2.225l29.611-17.904z' data-original='%232c2c2f'/%3E%3Cpath fill='%23424247' d='m15.874 487.984 39.522-33.523 2.021-14.877-37.353 5.073-17.906 29.611c-3.485 5.768-2.755 13.369 2.225 18.349 1.66 1.66 6.484-.387 11.491-4.633z' data-original='%23424247'/%3E%3Cpath fill='%23f2b084' d='m131.662 428.977 204.802-261.618L41.583 466.177l10.76 10.76z' data-original='%23f2b084'/%3E%3Cpath fill='%23f4ce93' d='M301.35 187.85 68.023 365.338l-47.96 79.319 21.52 21.52 276.876-261.218z' data-original='%23f4ce93'/%3E%3Cpath fill='%23ec9345' d='M328.757 168.243 218.5 248.5l-86.838 116.838c-17.573 17.574-17.573 46.066 0 63.64L354.02 206.62a113.637 113.637 0 0 0-25.263-38.377z' data-original='%23ec9345'/%3E%3Cpath fill='%23ecc04b' d='M68.023 365.338c17.573 17.574 46.066 17.574 63.639 0l197.094-197.094a113.628 113.628 0 0 0-38.376-25.263z' data-original='%23ecc04b'/%3E%3C/svg%3E");
  }

  &:hover::before {
    width: 24px;
    height: 24px;

    opacity: 1;
    transition: all 0.2s ease;
    filter: grayscale(0) contrast(1) brightness(1);
  }
}

.border {
  border-radius: 15px;
  border: none;
}

.shadow {
  box-shadow: 3px 5px 12px $shadow;
}

.shadow-ligth {
  box-shadow: 2px 3px 12px $shadow;
}

.bold {
  font-weight: 700;
}
