<div class="card border shadow grid-expand">
  <button class="btn__close" id="btn_delete_card">X</button>
  <div class="card__wrap">
    <p class="card__header">
      <span>${userName}</span>
      <br />
      <span class="card__header-number">№ ${userId}</span>
    </p>
    <div class="card__body" id="">
      <div class="card__base">
        <p class="card__patient"><span class="bold">Doctor:</span> ${doctor}</p>
        <p class="card__patient">
          <span class="bold">Patient's Name:</span> ${userName}
        </p>
        <p class="card__patient">
          <span class="bold">Priority:</span> ${priority}
        </p>
        <p class="card__patient"><span class="bold">Status:</span> ${status}</p>
      </div>
      <div class="card__expand">
        <p class="card__patient"><span class="bold">Doctor:</span> ${doctor}</p>
        <p class="card__patient">
          <span class="bold">Patient's Name:</span> ${userName}
        </p>
        <p class="card__patient">
          <span class="bold">Priority:</span> ${priority}
        </p>
        <p class="card__patient"><span class="bold">Status:</span> ${status}</p>
      </div>
    </div>
    <div class="card__footer">
      <button class="btn card__btn" id="btn_show_more">Show more</button>
    </div>
  </div>
</div>
