<div class="form__wrapper" id="modal-visit__form-wrapper">
  <div class="form__inner">
    <button class="btn__close" id="modal-visit__btn-close">X</button>
    <form action="" class="form shadow" id="modal-visit__create">
      <h3 class="modal-visit__header">
        Creating a record of a visit to a doctor
      </h3>
      <div class="form-row choice_doctor">
        <label for="modal-visit__dropdownDoctor">Choose a doctor</label>
        <select name="dropdownDoctor" id="modal-visit__dropdownDoctor" required>
          <option value=""></option>
          <option value="cardiologist">Cardiologist - Babai Serhii Petrovych</option>
          <option value="dentist">Dentist - Kasatkina Akulina Vasylivna</option>
          <option value="therapist">Therapist - Pilulkin Neznaika Hryhorovych</option>
        </select>
      </div>
      <div id="common_fields_container" class="fields_container" data-show="hidden">
        <div class="form-row">
          <label for="modal-visit__firstName">First Name</label>
          <input type="text" name="firstName" id="modal-visit__firstName" required value="Michael"/>
          <label for="modal-visit__lastName">Last Name</label>
          <input type="text" name="lastName" id="modal-visit__lastName" required value="Jackson"/>
          <label for="modal-visit__patronymic">Patronymic</label>
          <input type="text" name="patronymic" id="modal-visit__patronymic" value="singer"/>
        </div>
        <div hidden>
          <label for="modal-visit__fullName">Full Name</label>
          <input type="text" name="fullName" id="modal-visit__fullName" readonly value="Jackson Michael singer"/>
        </div>
        <div class="form-row">
          <label for="modal-visit__title">The purpose of the visit</label>
          <input type="text" name="title" id="modal-visit__title" 
            placeholder="the purpose of the visit: examination, procedures, discharge, consultation, operation, etc"
            required value="Sing songs"/>
        </div>
        <div class="form-row">
          <label for="modal-visit__description">Brief description of the visit</label>
          <textarea name="description" id="modal-visit__description" rows="4" cols="50">Sing songs at a concert</textarea>
        </div>
      </div>
      <div id="dentist" class="fields_container" data-show="hidden">
        <div class="form-row">
          <label for="modal-visit__dateLastVisit">Date of last visit</label>
          <input type="date" name="dateLastVisit" id="modal-visit__dateLastVisit" value="2024-01-01"/>
          <label for="modal-visit__dropdownUrgency_dentist">Choose the urgency</label>
          <select name="dropdownUrgency" id="modal-visit__dropdownUrgency_dentist" class="form-row__limited">
            <option value="Low">Low. In order of priority</option>
            <option value="Normal">Normal. Priority urgency</option>
            <option value="High">High. Immediate urgency</option>
          </select>
          <label for="modal-visit__status-dentist">Status</label>
          <select name="status" id="modal-visit__status-dentist" class="form-row__limited">
            <option value="open">open</option>
            <option value="done">done</option>
          </select>
        </div>
      </div>
      <div id="cardiologist" class="fields_container" data-show="hidden">
        <div class="form-row">
          <label for="modal-visit__normalPressure">Normal pressure</label>
          <input type="text" name="normalPressure" id="modal-visit__normalPressure" value="105/90"/>
          <label for="modal-visit__age">Age</label>
          <input type="number" name="age" id="modal-visit__age" value="37"/>
          <label for="bodyWeight">Weight, kg</label>
          <input type="number" name="bodyWeight" id="bodyWeight" value="56"/>
          <label for="bodyHeight">Height, sm</label>
          <input type="number" name="bodyHeight" id="bodyHeight" value="165"/>
          <label for="modal-visit__bodyMassIndex">BMI <span style="font-size: x-small;">(W/(H/100*H/100))</span></label>
          <input type="number" name="bodyMassIndex" id="modal-visit__bodyMassIndex" readonly value="20.57"/>
        </div>
        <div class="form-row">
          <label for="modal-visit__transferredCardiacDiseases">Put a heart valve</label>
          <textarea name="transferredCardiacDiseases" id="modal-visit__transferredCardiacDiseases" rows="4" cols="50">There was an operative intervention</textarea>
          <label for="modal-visit__dropdownUrgency">Choose the urgency</label>
          <select name="dropdownUrgency" id="modal-visit__dropdownUrgency" class="form-row__limited">
            <option value="Low">Low. In order of priority</option>
            <option value="Normal">Normal. Priority urgency</option>
            <option value="High">High. Immediate urgency</option>
          </select>
          <label for="modal-visit__status">Status</label>
          <select name="status" id="modal-visit__status" class="form-row__limited">
            <option value="open">open</option>
            <option value="done">done</option>
          </select>
        </div>
      </div>
      <div id="therapist" class="fields_container" data-show="hidden">
        <div class="form-row">
          <label for="modal-visit__age-therapist">Age</label>
          <input type="number" name="age" id="modal-visit__age-therapist" value="43"/>
          <label for="modal-visit__dropdownUrgency-therapist">Choose the urgency</label>
          <select name="dropdownUrgency" id="modal-visit__dropdownUrgency-therapist" class="form-row__limited">
            <option value="Low">Low. In order of priority</option>
            <option value="Normal">Normal. Priority urgency</option>
            <option value="High">High. Immediate urgency</option>
          </select>
          <label for="modal-visit__status-therapist">Status</label>
          <select name="status" id="modal-visit__status-therapist" class="form-row__limited">
            <option value="open">open</option>
            <option value="done">done</option>
          </select>
        </div>
      </div>
      <div class="form-row modal-visit__button-wrapper">
        <button type="submit" class="btn modal-visit__submit-button" id="btn_submit_form">
          Create Card
        </button>
        <button type="button" class="btn" style="display: none" id="btn_edit_form">
          Edit Card
        </button>
      </div>
    </form>
  </div>
</div>