<header class="inner header">
  <div class="logo">
    <a href="#" class="logo__link"><div class="logo__box fl-cen">logo</div></a>
  </div>
  <div class="header__buttons">
    <button class="btn" id="btn_sign_in">Sign In</button>
    <button class="btn hidden" id="btn_exit">Exit</button>
  </div>
</header>
