<nav class="inner nav shadow-ligth">
  <form class="search">
    <input class="nav__search-arr search_style" type="text" placeholder="search by title"/>

    <div class="select search_style">
      <div class="select__header">
        <p class="select__current status_current">all</p>
        <div class="select__icon">⮟</div>
      </div>

      <div class="select__body">
        <div class="select__item">all</div>
        <div class="select__item">open</div>
        <div class="select__item">done</div>
      </div>
    </div>
    <div class="select search_style">
      <div class="select__header">
        <p class="select__current priority_current">all</p>
        <div class="select__icon">⮟</div>
      </div>

      <div class="select__body">
        <div class="select__item">all</div>
        <div class="select__item">high</div>
        <div class="select__item">normal</div>
        <div class="select__item">low</div>
      </div>
    </div>
  </form>
  <button class="btn btn__create hidden" id="btn_create_visit">Create Visit</button>
</nav>