<section class="inner board" id="board">
  <div class="board__wrapper">
    <p class="board__text" id="text-empty-cards">No items have been added</p>
    <div class="board__cards" id="board_cards"></div>
  </div>
</section>
