// BASE COLORS:
$white: #ffffff;
$black: #000000;

// GENERAL COLORS:
// $temp-1: #b9f1e3; // replays
$brand-bright: #b9f1e3; // Logo body color
$brand-blue: #ced7df;
$brand-blue-dark: #0e6b83; // active logo-text

$brand-gray: #818181;
$brand-gray-ligth: #a1a0a0;

$bg-body: #818181; // BG-color header

// ADDITIONAL COLORS:
$shadow: rgba(0, 0, 0, 0.4);
$shadow-light: rgba(73, 70, 70, 0.4);
$gray-light: #0000002d;
$blue: #0000002d;